{% extends "base.html" %}

{% set active_page = 'home' %}
{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to my page!</h1>
    <p>
        This is the demo application for the course
        <em>Getting Started with Flask</em>
        on <a href="https://www.pluralsight.com">Pluralsight</a>
    </p>
    <img src="/static/images/gigakubica.jpeg">
    <p>
        {{message}}
    </p>

    <h2>Flash Cards</h2>
    <ul>
        {% for card in cards %}
            <li>
                <a href="{{ url_for('card_view', index=loop.index0) }}"> 
                {{ card.question }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_card') }}">Add a new card</a>

    <div class="row">
        <div class="col-lg-3">
            <div class="my-4">
                <h1>Filters</h1>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row my-5 card-wrapper">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='images/placeholder.png')}}">
                    <div class="card-body">
                        <h4 class="card-title">Item title</h4>
                        <h5>$2.00</h5>
                        <p class="card-text">Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            Category -> Subcategory
                        </small>
                    </div>    
                </div>
            </div>
        </div>
    </div>

{% endblock %}